<?xml version="1.0"?>
<config>
  <modules>
    <Snenko_Holidayapi>
      <version>0.1.0</version>
    </Snenko_Holidayapi>
  </modules>
  <global>
    <helpers>
      <holidayapi>
        <class>Snenko_Holidayapi_Helper</class>
      </holidayapi>
    </helpers>
	<blocks>
	  <holidayapi>
		<class>Snenko_Holidayapi_Block</class>
	  </holidayapi>
	</blocks>
	<models>
	  <holidayapi>
		<class>Snenko_Holidayapi_Model</class>
		<resourceModel>holidayapi_mysql4</resourceModel>
	  </holidayapi>
	  <holidayapi_mysql4>
		<class>Snenko_Holidayapi_Model_Mysql4</class>
		<entities>		  
			  <holidayapi>
				<table>holidayapi</table>
			  </holidayapi>
        </entities>
	  </holidayapi_mysql4>
	</models>
	<resources>
	  <holidayapi_setup>
		<setup>
		  <module>Snenko_Holidayapi</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </holidayapi_setup>
	  <holidayapi_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </holidayapi_write>
	  <holidayapi_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </holidayapi_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <holidayapi>
	    <use>admin</use>
		<args>
		  <module>Snenko_Holidayapi</module>
		  <frontName>admin_holidayapi</frontName>
		</args>
	  </holidayapi>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <holidayapi module="holidayapi">
		<title>Holidayapi</title>
		<sort_order>100</sort_order>
		<children>
		  <holidayapi module="holidayapi">
		    <title>Manage Holidayapi</title>
			<sort_order>0</sort_order>
			<action>admin_holidayapi/adminhtml_holidayapi</action>
		  </holidayapi>
		</children>
	  </holidayapi>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<holidayapi translate="title" module="holidayapi">
			  <title>Holidayapi</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <holidayapi translate="title">
			<title>Manage Holidayapi</title>
			<sort_order>0</sort_order>
		  </holidayapi>
			  </children>
			</holidayapi>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<holidayapi>
		  <file>holidayapi.xml</file>
		</holidayapi>
	  </updates>
	</layout>
  </adminhtml>
</config> 